<section class="sec" id="contact">
    <div class="box">
        <div class="left_box">
            <h1 class="top-heading">Join us Now</h1>
            <input type="text" name="name" placeholder="Your name">
            <input type="text" name="address" placeholder="Where are you contact us">
            <input type="email" name="email" placeholder="Wrote your email">
            <textarea name="" id=""></textarea>
            <button class="btn btn1">Appointment</button>
        </div>
        <div class="right_box">
            <h3 class="top-heading">Take this opportunity as your best experience</h3>
            <h1 class="heading">This year you can motivate your-self this mega opportunity to take your body push to the limit</h1>
            <div class="box2">
                <div class="boxes1">
                    <h1 class="top-heading">23+</h1>
                    <h3>Projects</h3>
                </div>
                <div class="boxes1">
                    <h1 class="top-heading">75+</h1>
                    <h3>Positive Reviews</h3>
                </div>
                <div class="boxes1">
                    <h1 class="top-heading">20+</h1>
                    <h3>Award Winning</h3>
                </div>
            </div>
        </div>
    </div>
</section>