<section class="background" id="home">
    <nav class="navbar">
        <div class="logo">
            <img src="../yoga_site_img1.webp" alt="">
            <span id="slogo">High Frecuency</span>
        </div>
        <ul class="nav_items" id="nav_links">
            <div class="item">
                <li><a routerLink="home">Yoga Site</a></li>
                <li><a routerLink="aboutus">About Me</a></li>
                <li><a routerLink="our-services">Our Services</a></li>
                <li><a routerLink="contact-us">Contact us</a></li>
                <!-- <li><a routerLink="login">Login</a></li>
                <li><a routerLink="signup">SignUp</a></li> -->
            </div>
<!-- 
            <div class="nav_btn">
                <button class="btn btn1">explore</button>
                <button class="btn btn2">detail</button>
            </div> -->
        </ul>

        <div class="nav_menu" id="menu_btn">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</section>