/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f2e6d4;
    color: #000;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* text-transform: capitalize; */
}
.backgroud{
    position: relative;
    background: linear-gradient(90deg, rgb(255 177 194) 35%, rgba(255, 251,1) 100%);
}
