<section class="sec">
    <div class="head" data-aos="fade-down" data-aos-duration="2800">
        <h3 class="top-heading">Our Services</h3>
        <h1 class="heading">Be yoursefl and enjoy our experience <br> With Yoga</h1>
    </div>
    <div class="box1" data-aos="zoom-in" data-aos-duration="2000">
        <div class="boxes">
            <img src="../hatha_yoga.jpeg" alt="">
            <h1>Hatha Yoga</h1>
            <p class="para">Hatha Yoga is a gentle yet powerful practice that focuses on aligning the body and mind through deliberate postures (asanas), breath control (pranayama), and mindfulness. This style is ideal for beginners and those seeking a slower-paced practice to build strength, flexibility, and mental clarity.</p>
        </div>
        <div class="boxes">
            <img src="../restorative_yoga.webp" alt="">
            <h1>Restorative Yoga</h1>
            <p class="para">Restorative Yoga is a deeply calming and therapeutic practice that uses props (bolsters, blankets, and blocks) to support the body in passive poses. This style allows for extended holds, encouraging total relaxation and nervous system restoration.</p>
        </div>
        <div class="boxes">
            <img src="../vinyasa_yoga.png" alt="">
            <h1>Vinyasa Yoga</h1>
            <p class="para">Vinyasa Yoga is a dynamic and creative flow that links breath with movement. Each posture transitions smoothly into the next, creating a graceful and energizing sequence. This practice enhances cardiovascular health, builds strength, and improves overall endurance.</p>
        </div>
        <div class="boxes">
            <img src="../ashtanga_yoga.jpeg" alt="">
            <h1>Ashtanga Yoga</h1>
            <p class="para">Ashtanga Yoga is a challenging and structured practice that follows a set sequence of postures with a strong focus on breath control and movement synchronization. This disciplined approach builds inner strength, endurance, and mental resilience.</p>
        </div>
    </div>
</section>