<section class="sec" id="about">

    <div class="box">
        <div class="left_box" data-aos="fade-right" data-aos-duration="2000">
            <img src="../yoga_site_img3.png" alt="">
            <img src="./yoga_site_img4.png" alt="">
            <img src="./yoga_site_img6.png" alt="">
        </div>
        <div class="right_box" data-aos="fade-left" data-aos-duration="2000">
            <h3 class="top-heading">About Us</h3>
            <h1 class="heading">My Story as Yoga teacher</h1>
            <p class="para">
                I’m Hellen Ramirez Romero, a passionate yoga teacher specializing in Hatha Yoga and Vinyasa Yoga. My
                journey with yoga began as a search for balance, and over time, it transformed into a way of life. I
                believe yoga is more than just movement—it’s a path to self-discovery, healing, and inner peace.

                Through my teachings, I aim to help others find harmony between the body, mind, and spirit. Whether
                you’re looking for strength, flexibility, relaxation, or mindfulness, I am here to guide you through a
                practice that nurtures both physical and emotional well-being.
            </p>
            <li data-aos="fade-left" data-aos-duration="2000"><i class="ri-checkbox-circle-line"></i>Cultivate Mind-Body Harmony – Through breath, movement, and mindfulness, I help you reconnect with yourself.</li>
            <li data-aos="fade-left" data-aos-duration="2400"><i class="ri-checkbox-circle-line"></i>Using yoga, meditation, and holistic practices to restore balance and vitality.</li>
            <li data-aos="fade-left" data-aos-duration="2800"><i class="ri-checkbox-circle-line"></i>A safe and welcoming space where everyone can grow, heal, and connect.
            </li>
        </div>
    </div>
</section>