<!-- <div class="footer">
    <p><mat-icon>copyright</mat-icon> 2025 - Yoga Site </p>
</div> -->

<footer>
    <div class="sec footer_container">
        <div class="footer_col">
            <h4>About</h4>
            <ul class="footer_links">
                <li><a href="/home">Yoga Site</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/our-services">Our Services</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer_col">
            <h4>Company</h4>
            <ul class="footer_links">
                <li><a href="">Blog</a></li>
                <li><a href="">Recommends</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>
        <div class="footer_col">
            <h4>Support</h4>
            <ul class="footer_links">
                <li><a href="">Customer Service</a></li>
                <li><a href="">Support Center</a></li>
            </ul>
        </div>
        <div class="footer_col">
            <div class="footer_logo logo">
                <img src="../yoga_site_img1.webp" alt="">
                <span>High Frecuency</span>
            </div>

            <ul class="footer_socials">
                <li><a href="https://www.facebook.com/keyron.porras.9"><i class="ri-facebook-fill"></i></a></li>
                <li><a href="https://www.instagram.com/k_porras96/"><i class="ri-instagram-fill"></i></a></li>
                <li><a href="https://wa.me/+50684688510"><i class="ri-whatsapp-fill"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer_bar">
        <p><mat-icon>copyright</mat-icon> 2025 High Frecuency. All rigth reserved.</p>
    </div>
</footer>
