<!-- Main Section -->
<div>
    <section class="main">
        <div class="left">
            <h1 data-aos="fade-right" data-aos-duration="1000">Elevate Your Mind, Nourish Your Body, Awaken Your Soul - High Frecuency</h1>
            <p data-aos="fade-right" data-aos-duration="1000">Connect with yoga and feel high frecuency. Align your mind, body, and soul with higher
                vibrations of peace, balance, and self-discovery. Through mindful movement, breathwork, and meditation,
                unlock the energy within and step into a life of harmony, vitality, and inner strength.</p>
            <div class="main_btn">
                <button routerLink="/aboutus" class="btn btn1" data-aos="flip-up" data-aos-duration="1000">Check more about me</button>
                <button routerLink="/our-services" class="btn btn2" data-aos="flip-up" data-aos-duration="1000">Check our services</button>
            </div>
        </div>
        <div class="right">
            <img src="../yoga_site_img6.png" alt="" data-aos="fade-left" data-aos-duration="1200">
        </div>
    </section>
</div>
<!-- Calendar Section -->


<section class="main-calendar">
    <div class="left-calendar">
        <h1 data-aos="fade-right" data-aos-duration="2800">Please serve your-self and make an appointment </h1>
        <input class="datetime" type="datetime-local" data-aos="fade-right" data-aos-duration="2800">
        <button class="btn btn1" data-aos="zoom-in" data-aos-duration="2800">Schedule</button>
    </div>
</section>